$sidePanel-Navigation: #5B605F;
$header-FontColorInColumn: #4a4a49;
$buttons-Highlights-ScreenHeaders: #FF6600;
$backgroundScreensColors: #FFFFFA;
$colorInfoMessage: #3498DB;
$colorWarningMessage: #FFB03B;
$colorSuccessMessage: #468966;
$colorTrashIcon: #BD4932;
$colorTextRows-FunctionIcons: #A1A194;