.addplan {
    box-sizing: border-box;
    height: 630px;
    width: 1070px;
    font-family: $fontOpenSans;
    background-color: $backgroundScreensColors;
    border: 1px $colorTextRows-FunctionIcons dashed;
    margin: 30px auto 0;
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 60px;
        width: 1000px;
        margin: 0 auto;
        padding-bottom: 5px;
        border-bottom: 2px $colorTextRows-FunctionIcons solid;
        p {
            font-size: 24px;
            font-weight: 700;
            color: $buttons-Highlights-ScreenHeaders;
            text-transform: uppercase;
        }
        .button {
            height: 33px;
            width: 144px;
            color: $backgroundScreensColors;
            font-size: 16px;
            font-weight: 700;
            line-height: 33px;
            background: $buttons-Highlights-ScreenHeaders;
            text-align: center;
            cursor: pointer;
        }
    }
    &__description {
        font-size: 24px;
        color: $sidePanel-Navigation;
        .plan {
            box-sizing: border-box;
            width: 930px;
            margin: 0 36px;
            input {
                box-sizing: border-box;
                height: 30px;
                width: 720px;
                font-size: 14px;
                outline: none;
                margin-left: auto;
                margin-right: 0;
                border-style: none;
                border: 1px $colorTextRows-FunctionIcons solid;
            }
            textarea {
                box-sizing: border-box;
                min-height: 80px;
                width: 720px;
                font-size: 14px;
                outline: none;
                margin-left: auto;
                margin-right: 0;
                border-style: none;
                border: 1px $colorTextRows-FunctionIcons solid;
            }
            &__weeknumber input{
                width: 30px;
                margin-left: 28px;
            }
            div {
                display: flex;
                margin-top: 10px
            }
        }

    }
    table {
        width: 930px;
        margin: 15px auto 0 36px;
        tr {
            height: 40px;
            &:first-of-type {
                height: 60px;
            }
            &.meals th {
                // display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        th {
            color: $sidePanel-Navigation;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            width: 152px;
            border-top: 1px $colorTextRows-FunctionIcons solid;
            border-bottom: 1px $colorTextRows-FunctionIcons solid;
            vertical-align: middle;
            text-transform: uppercase;
            padding: 0 10px;
            &.day {
                font-size: 16px;
                line-height: 40px;
            }
        }
        td {
            width: 152px;
            border-bottom: 1px $colorTextRows-FunctionIcons solid;
            vertical-align: middle;
            padding: 0 10px;
            select {
                height: 25px;
                width: 100%;
                border: 1px $colorTextRows-FunctionIcons solid;
                border-radius: 5px;
                outline: none;
            }
        }
    }
}