.newsletter-wrapper {
    background: $sidePanel-Navigation;
}

.newsletter_container {
    width: $mainWidth;
    margin: 0 auto;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        margin-left: 10px;
        color: $backgroundScreensColors;
        font-size: 42px;
        font-family: $fontOpenSans;
    }

    input {
        width: 280px;
        padding: 10px 10px;
        line-height: 35px;
        font-size: 24px;
    }

    button {
        background-color: $buttons-Highlights-ScreenHeaders;
        color: $backgroundScreensColors;
        border: none;
        font-family: $fontOpenSans;
        @include button;
        font-size: 20px;
        font-weight: bold;
        padding: 15px 50px;
    }
}
